header.add-header{
    height: 5rem;
    font-size: 1.2em !important;
    align-items: center;
    padding: 50px 0;
}
.round{
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 50%;
    line-height: 25px;
}
section.add-with-categories{
    width: 100%;
    min-height: 600px;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

.add-with-categories .nav-item .dropdown-menu{
width: 50vw;
}