* {
    font-size: 0.9rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box !important;
}
a{
    text-decoration: none !important;
    color: black !important;
    font-family: 'Roboto'!important;
}
body{
    background: #F7F7F7;
}